<template>
    <v-col>
        <div class="mt-4">
            <v-card class="mx-auto">
                <v-card-text>
                    <h1 class="fs-21 fw-700 opacity-80 mb-5">
                        {{ $t("collection_history") }}
                    </h1>

                    <v-data-table
                        :headers="headers"
                        :items="collectionsList"
                        class="border px-4 pt-3"
                        hide-default-footer
                        item-class="c-pointer"
                    >
                        <template v-slot:item.code="{ item }">
                            <v-btn
                                @click="openOrderDetails(item.code)"
                                text
                                small
                                class="px-2 text-primary"
                            >
                                {{ item.code }}
                            </v-btn>
                        </template>

                        <template v-slot:[`item.amount`]="{ item }">
                            <span class="d-block fw-600">{{
                                format_price(item.amount)
                            }}</span>
                        </template>

                        <template v-slot:item.options="{ item }">
                            <a
                                @click="openOrderDetails(item.code)"
                                text
                                small
                                class="px-2 btn btn-soft-info btn-icon btn-circle btn-sm hov-svg-white"
                            >
                                <i class="las la-bars"></i>
                            </a>
                        </template>
                    </v-data-table>

                    <div class="text-start">
                        <v-pagination
                            v-model="currentPage"
                            @input="getCollectionsList"
                            :length="lastPage"
                            prev-icon="la-angle-left"
                            next-icon="la-angle-right"
                            :total-visible="7"
                            elevation="0"
                            class="my-4"
                        ></v-pagination>
                    </div>
                </v-card-text>
            </v-card>
        </div>
    </v-col>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
    data: () => ({
        loading: true,
        currentPage: 1,
        lastPage: 1,
        collectionsList: [],
    }),

    computed: {
        headers() {
            return [
                {
                    text: this.$i18n.t("code"),
                    align: "start",
                    sortable: false,
                    value: "code",
                },
                {
                    text: this.$i18n.t("date"),
                    sortable: false,
                    align: "start",
                    value: "date",
                },
                {
                    text: this.$i18n.t("amount"),
                    sortable: false,
                    align: "start",
                    value: "amount",
                },
                {
                    text: this.$i18n.t("options"),
                    sortable: false,
                    align: "center",
                    value: "options",
                },
            ];
        },
    },
    methods: {
        async getCollectionsList(page) {
            this.loading = true;
            const res = await this.call_api(
                "get",
                `delivery-boy/collections-list?page=${page}`
            );
            if (res.status == 200) {
                this.collectionsList = res.data.data;
                this.lastPage = res.data.meta.last_page;
                this.currentPage = res.data.meta.current_page;
            } else {
                this.snack({
                    message: this.$i18n.t("something_went_wrong"),
                    color: "red",
                });
            }
            this.loading = false;
        },
        openOrderDetails(code) {
            this.$router.push({
                name: "DeliveryboyOrderDetails",
                params: { code: code },
            });
        },
    },
    created() {
        let page = this.$route.query.page || this.currentPage;
        this.getCollectionsList(page);
    },
};
</script>
