<template>
    <v-dialog
        v-model="isVisible"
        max-width="700px"
        @click:outside="closeDialog"
    >
        <div class="white pa-5 rounded">
            <v-form
                ref="paymentForm"
                lazy-validation
                v-on:submit.prevent="storePaymentSettings()"
                autocomplete="chrome-off"
            >
                <!-- show authorize net payment method's data -->
                <h3 class="opacity-80 mb-3 fs-18 mt-3">
                    {{ $t("payment_settings") }}
                </h3>
                <v-text-field
                    :placeholder="$t('paypal_email')"
                    type="email"
                    v-model="form.paypalEmail"
                    :error-messages="paypalEmailErrors"
                    @blur="$v.form.paypalEmail.$touch()"
                    hide-details="auto"
                    required
                    outlined
                ></v-text-field>
                <v-text-field
                    class="mt-4"
                    :placeholder="$t('bank_informations')"
                    type="text"
                    v-model="form.bankInformations"
                    :error-messages="bankInformationsErrors"
                    @blur="$v.form.bankInformations.$touch()"
                    hide-details="auto"
                    required
                    outlined
                ></v-text-field>

                <div class="text-right mt-4">
                    <v-btn text @click="closeDialog">{{ $t("cancel") }}</v-btn>
                    <v-btn
                        elevation="0"
                        type="submit"
                        color="primary"
                        @click="storePaymentSettings"
                        :loading="loading"
                        :disabled="loading"
                        >{{ $t("update") }}</v-btn
                    >
                </div>
            </v-form>
        </div>
    </v-dialog>
</template>

<script>
import { required } from "vuelidate/lib/validators";
export default {
    props: {
        show: { type: Boolean, required: true, default: false },
    },
    data: () => ({
        loading: false,
        form: {
            paypalEmail: "",
            bankInformations: "",
        },
    }),
    validations: {
        form: {
            paypalEmail: { required },
            bankInformations: { required },
        },
    },
    computed: {
        isVisible: {
            get: function () {
                return this.show;
            },
            set: function (newValue) {},
        },
        paypalEmailErrors() {
            const errors = [];
            if (!this.$v.form.paypalEmail.$dirty) return errors;
            !this.$v.form.paypalEmail.required &&
                errors.push(this.$i18n.t("this_field_is_required"));

            return errors;
        },
        bankInformationsErrors() {
            const errors = [];
            if (!this.$v.form.bankInformations.$dirty) return errors;
            !this.$v.form.bankInformations.required &&
                errors.push(this.$i18n.t("this_field_is_required"));
            return errors;
        },
    },

    methods: {
        closeDialog() {
            this.isVisible = false;
            this.$emit("close");
        },
        async storePaymentSettings() {
            this.$v.$touch();
            this.loading = false;
            // write code to check in update version of the shop cms if the response is a success.
            const res = await this.call_api(
                "post",
                `user/affiliate/payment-settings`,
                this.form
            );
            this.snack({
                message: this.$i18n.t(res.data.message),
                color: "green",
            });
            this.$refs.paymentForm.reset()
            this.loading = false;
            this.closeDialog();
        },
    },
};
</script>
