<template>
    <v-dialog
        v-model="isVisible"
        max-width="700px"
        @click:outside="closeDialog"
    >
        <div class="white pa-5 rounded">
            <v-form lazy-validation v-on:submit.prevent>
                <!-- show authorize net payment method's data -->

                <h3 class="opacity-80 mb-3 fs-18 mt-3">
                    {{ $t("affiliate_withdraw_request") }}
                </h3>
                <v-text-field
                    :placeholder="$t('withdrawal_amount')"
                    type="Number"
                    v-model="requestedAmount"
                    :error-messages="requestedAmountErrors"
                    @blur="$v.requestedAmount.$touch()"
                    hide-details="auto"
                    required
                    outlined
                ></v-text-field>

                <div class="text-right mt-4">
                    <v-btn text @click="closeDialog">{{ $t("cancel") }}</v-btn>
                    <v-btn
                        elevation="0"
                        type="submit"
                        color="primary"
                        @click="withdrawalRequest"
                        :loading="loading"
                        :disabled="loading"
                        >{{ $t("confirm") }}</v-btn
                    >
                </div>
            </v-form>
        </div>
    </v-dialog>
</template>

<script>
import { required, minValue } from "vuelidate/lib/validators";
import { mapActions } from "vuex";
export default {
    props: {
        from: { type: String, default: "/user/wallet" },
        show: { type: Boolean, required: true, default: false },
    },
    data: () => ({
        loading: false,
        requestedAmount: 0,
    }),
    validations: {
        requestedAmount: { required, minValue: minValue(1) },
    },

    computed: {
       
        isVisible: {
            get: function () {
                return this.show;
            },
            set: function (newValue) {},
        },
        requestedAmountErrors() {
            const errors = [];
            if (!this.$v.requestedAmount.$dirty) return errors;
            !this.$v.requestedAmount.required &&
                errors.push(this.$i18n.t("this_field_is_required"));
            return errors;
        },
    },

    methods: {
        ...mapActions("affiliate", ["fetchWithdrawRequest"]),
        closeDialog() {
            this.isVisible = false;
            this.receipt = null;
            this.$emit("close");
        },
        async withdrawalRequest() {
            this.$v.$touch();
            this.loading = false;
            const amount = {
                amount: this.requestedAmount,
            };
            // write code to check in update version of the shop cms if the response is a success.
            const res = await this.call_api(
                "post",
                `user/affiliate/withdraw-request`,
                amount
            );
            this.fetchWithdrawRequest();
            this.requestedAmount = 0;
            this.snack({
                message: this.$i18n.t(res.data.message),
                color: "green",
            });
            this.loading = false;
            this.closeDialog();
        },
        
    },
};
</script>
