<template>
    <v-container class="py-6">
        <v-row>
            <v-col cols="12" lg="10" md="12" sm="12" class="mx-auto">
                <h1 class="text-h3 fw-700 mb-8">
                    {{ $t("affiliate_informations") }}
                </h1>
                <v-form lazy-validation v-on:submit.prevent="submitRequest()">
                    <v-card class="border" elevation="0">
                        <v-card-title>
                            <span class="text-h6 fw-600 opacity-80">{{
                                $t("verification_info")
                            }}</span>
                        </v-card-title>
                        <v-card-text>
                            <div class="mb-4">
                                <div class="mb-1 fs-13 fw-500">
                                    {{ $t("your_name") }}
                                </div>
                                <v-text-field
                                    :placeholder="$t('full_name')"
                                    type="text"
                                    v-model="form.name"
                                    :error-messages="nameErrors"
                                    @blur="$v.form.name.$touch()"
                                    hide-details="auto"
                                    required
                                    outlined
                                ></v-text-field>
                            </div>
                            <div class="mb-4">
                                <div class="fs-13 fw-500">
                                    {{ $t("your_email") }}
                                </div>
                                <v-text-field
                                    :placeholder="$t('email_address')"
                                    type="email"
                                    v-model="form.email"
                                    :error-messages="emailErrors"
                                    @blur="$v.form.email.$touch()"
                                    hide-details="auto"
                                    required
                                    outlined
                                ></v-text-field>
                            </div>
                            <div v-if="!isAuthenticated">
                                <div class="mb-4">
                                    <div class="mb-1 fs-13 fw-500">
                                        {{ $t("password") }}
                                    </div>
                                    <v-text-field
                                        placeholder="* * * * * * * *"
                                        v-model="form.password"
                                        :error-messages="passwordErrors"
                                        @blur="$v.form.password.$touch()"
                                        type="password"
                                        class="input-group--focused"
                                        hide-details="auto"
                                        required
                                        outlined
                                    ></v-text-field>
                                </div>
                                <div class="mb-4">
                                    <div class="mb-1 fs-13 fw-500">
                                        {{ $t("confirm_password") }}
                                    </div>
                                    <v-text-field
                                        placeholder="* * * * * * * *"
                                        v-model="form.confirmPassword"
                                        :error-messages="confirmPasswordErrors"
                                        @blur="$v.form.confirmPassword.$touch()"
                                        type="password"
                                        class="input-group--focused"
                                        hide-details="auto"
                                        required
                                        outlined
                                    ></v-text-field>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="mb-1 fs-13 fw-500">
                                    {{ $t("phone_number") }}
                                </div>
                                <vue-tel-input
                                    v-model="form.phone"
                                    v-bind="mobileInputProps"
                                    :onlyCountries="availableCountries"
                                    @validate="phoneValidate"
                                >
                                    <template slot="arrow-icon"
                                        ><span class="vti__dropdown-arrow"
                                            >&nbsp;▼</span
                                        ></template
                                    >
                                </vue-tel-input>
                                <div
                                    class="v-text-field__details mt-2 pl-3"
                                    v-if="$v.form.phone.$error"
                                >
                                    <div
                                        class="v-messages theme--light error--text"
                                        role="alert"
                                    >
                                        <div class="v-messages__wrapper">
                                            <div class="v-messages__message">
                                                {{
                                                    $t("this_field_is_required")
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="v-text-field__details mt-2 pl-3"
                                    v-if="
                                        !$v.form.phone.$error &&
                                        form.showInvalidPhone
                                    "
                                >
                                    <div
                                        class="v-messages theme--light error--text"
                                        role="alert"
                                    >
                                        <div class="v-messages__wrapper">
                                            <div class="v-messages__message">
                                                {{
                                                    $t(
                                                        "phone_number_must_be_valid"
                                                    )
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="mb-1 fs-13 fw-500">
                                    {{ $t("full_address") }}
                                </div>
                                <v-text-field
                                    :placeholder="$t('full_address')"
                                    type="text"
                                    v-model="form.address"
                                    :error-messages="addressErrors"
                                    @blur="$v.form.address.$touch()"
                                    hide-details="auto"
                                    required
                                    outlined
                                ></v-text-field>
                            </div>

                            <div class="mb-4">
                                <div class="mb-1 fs-13 fw-500">
                                    {{ $t("how_will_you_affiliate?") }}
                                </div>
                                <v-text-field
                                    :placeholder="$t('description')"
                                    type="text"
                                    v-model="form.description"
                                    :error-messages="descriptionErrors"
                                    @blur="$v.form.description.$touch()"
                                    hide-details="auto"
                                    required
                                    outlined
                                ></v-text-field>
                            </div>
                        </v-card-text>
                    </v-card>
                    <v-btn
                        x-large
                        class="px-12 mb-4 w-100 mt-5"
                        elevation="0"
                        type="submit"
                        color="primary"
                        @click="submitRequest"
                        :loading="loading"
                        :disabled="loading"
                        >{{ $t("save") }}</v-btn
                    >
                </v-form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
import { mapActions, mapGetters, mapMutations } from "vuex";
import { VueTelInput } from "vue-tel-input";
export default {
    data: () => ({
        loading: false,
        mobileInputProps: {
            inputOptions: {
                type: "tel",
                placeholder: "phone number",
            },
            dropdownOptions: {
                showDialCodeInSelection: false,
                showFlags: true,
                showDialCodeInList: true,
            },
            autoDefaultCountry: false,
            validCharactersOnly: true,
            mode: "international",
        },
        form: {
            name: "",
            email: "",
            password: "",
            confirmPassword: "",
            phone: "",
            address: "",
            description: "",
            invalidPhone: true,
            showInvalidPhone: false,
        },
    }),
    components: {
        VueTelInput,
    },
    validations: {
        form: {
            name: { required },
            email: { required, email },
            phone: { required },
            password: { required, minLength: minLength(6) },
            confirmPassword: { required, sameAsPassword: sameAs("password") },
            address: { required },
            description: { required },
        },
    },
    computed: {
        ...mapGetters("auth", ["isAuthenticated"]),
        ...mapGetters("app", ["generalSettings", "availableCountries"]),
        nameErrors() {
            const errors = [];
            if (!this.$v.form.name.$dirty) return errors;
            !this.$v.form.name.required &&
                errors.push(this.$i18n.t("this_field_is_required"));
            return errors;
        },
        emailErrors() {
            const errors = [];
            if (!this.$v.form.email.$dirty) return errors;
            !this.$v.form.email.required &&
                errors.push(this.$i18n.t("this_field_is_required"));
            !this.$v.form.email.email &&
                errors.push(
                    this.$i18n.t("this_field_is_required_a_valid_email")
                );
            return errors;
        },
        passwordErrors() {
            const errors = [];
            if (!this.$v.form.password.$dirty) return errors;
            !this.$v.form.password.required &&
                errors.push(this.$i18n.t("this_field_is_required"));
            !this.$v.form.password.minLength &&
                errors.push(
                    this.$i18n.t("password_must_be_minimum_6_characters")
                );
            return errors;
        },
        confirmPasswordErrors() {
            const errors = [];
            if (!this.$v.form.confirmPassword.$dirty) return errors;
            !this.$v.form.confirmPassword.required &&
                errors.push(this.$i18n.t("this_field_is_required"));
            !this.$v.form.confirmPassword.sameAsPassword &&
                errors.push(
                    this.$i18n.t("password_and_confirm_password_should_match")
                );
            return errors;
        },
        addressErrors() {
            const errors = [];
            if (!this.$v.form.address.$dirty) return errors;
            !this.$v.form.address.required &&
                errors.push(this.$i18n.t("this_field_is_required"));
            return errors;
        },
        descriptionErrors() {
            const errors = [];
            if (!this.$v.form.description.$dirty) return errors;
            !this.$v.form.description.required &&
                errors.push(this.$i18n.t("this_field_is_required"));
            return errors;
        },
    },
    methods: {
        ...mapActions("auth", ["login"]),
        ...mapMutations("cart", ["removeTempUserId"]),
        ...mapMutations("auth", ["updateChatWindow", "showLoginDialog"]),
        phoneValidate(phone) {
            this.form.invalidPhone = phone.valid ? false : true;
            if (phone.valid) this.form.showInvalidPhone = false;
        },
        async submitRequest() {
            this.$v.form.$touch();
            if (this.form.invalidPhone) {
                this.form.showInvalidPhone = true;
                return;
            }
            // console.log('1st')
            // if (this.$v.form.$anyError) {
            //     return;
            // }
            // console.log('2nd')
            this.form.phone = this.form.phone.replace(/\s/g, "");
            // console.log('3rd')
            this.loading = true;
            // console.log('okkk')
            const res = await this.call_api("post", "user/affiliate/store", this.form);
            console.log(res)
            if(res.data.status == 400) {
                this.snack({
                    message: res.data.message,
                    color: "yellow",
                });
            }
            if (res.data.success) {
                this.snack({
                    color: "green",
                    message: res.data.message,
                });
                // console.log('affiliate registration successful!')
                this.$router.push({ name: "AffiliateRegConfirmation" });
                // this.resetForm()
            } else {
                this.snack({
                    message: res.data.message,
                    color: "red",
                });
            }
            this.loading = false;
        },
        resetForm() {
            this.form.name = "";
            this.form.phone = "";
            this.form.email = "";
            this.form.invalidPhone = true;
            this.form.showInvalidPhone = false;
            this.form.address = "";
            this.form.description = "";
        },
    },
    

};
</script>
